site_name: DISSENY D'INTERFÍCIES WEB - 2DAW - Xuso Ortí I Josep Magraner
nav:
  - Presentació: presentació.md
  - UD1:
    - UD1 Eines de Fonaments d'Interfícies: DIW_UD1_Fonaments_Interfícies_tema.md
    - Pràctiques Unitat:
      - UD1 Pràctica: DIW_UD1_Fonaments_Interfícies_Pr.md
  - UD2:
    - UD2 Introducció a CSS: DIW_UD2_introducció_css.md
    - Pràctiques Unitat:
      - UD2 Pràctica guiada (no entregar): DIW_UD2_Pràctica_guiada.md
      - UD2 Pràctica Maquetació: DIW_UD2_Prac_CSS.md
  - UD3:
    - UD3 CSS Avançat: DIW_UD3_css_avançat.md
    - Pràctiques Unitat:
      - UD3 Pràctica: DIW_UD3_prac_mediaquery.md
  - Projecte 1a AV:
    - Enunciat: DIW_projecte_1a_av.md
  - UD4:
    - Sass: DIW_UD4_sass.md
theme:
  language: ca
  name: material
  palette:
    - scheme: default
      toggle:
        icon: material/brightness-7 


        name: Format oscur

    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Format clar
  features:
    - navigation.tabs
    - content.code.copy
    - content.code.annotate
    - content.code.select
  logo: img/logocap.png
  theme:
    icon:
      admonition:
        note: fontawesome/solid/note-sticky
        abstract: fontawesome/solid/book
        info: fontawesome/solid/circle-info
        tip: fontawesome/solid/bullhorn
        success: fontawesome/solid/check
        question: fontawesome/solid/circle-question
        warning: fontawesome/solid/triangle-exclamation
        failure: fontawesome/solid/bomb
        danger: fontawesome/solid/skull
        bug: fontawesome/solid/robot
        example: fontawesome/solid/flask
        quote: fontawesome/solid/quote-left
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      linenums: true
      auto_title: true
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - attr_list
  - pymdownx.tabbed:
      alternate_style: true
  - md_in_html
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
